@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    padding: .5rem;
    background: #CFCFCF;
    display: flex;
    flex-direction: column-reverse;
}

#flex-icons {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#flex-icons a {
    text-decoration: none;
}

#flex-icons a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-icon-container {
    color: white;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-icon-container i {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.flex-icon-container p {
    font-size: .9rem;
    letter-spacing: .5px;
    margin-bottom: .5rem;
}

.flex-icon-container:hover {
    cursor: pointer;
}

#presentation {
    align-items: flex-start;
    padding: 2rem;
    height: fit-content;
}

#presentation h1 {
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

#presentation p {
    font-size: .9rem;
}

.presentation-buttons {
    margin: 1rem 0;
}

.presentation-buttons button {
    padding: .7rem;
    background: transparent;
    color: white;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
}

.presentation-buttons i {
    font-size: 1rem;
    margin-right: .3rem;
}

#resume {
    margin-right: 1rem;
}

#resume, #contact {
    font-weight: bold;
    letter-spacing: 1px;
}

#slide {
    min-width: 100%;
    height: 55vh;
}

#slide-display {
    height: inherit;
}

#slide-display img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

#slide i {
    color: white;
    font-size: 3rem;
    opacity: .8;
    z-index: 10;
}

#previous {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#next {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(-50%, -50%);
}

#previous, #next {
    cursor: pointer;
    transition: color .3s;
}

#previous:hover, #next:hover {
    color: #ff9e00;
}

.green {
    background: #35bc7a;
}

.yellow {
    background: #ff9e00;
}

.blue {
    background: #1e8bc4;
}

.red {
    background: #f15a49;
}

.orange {
    background: #f86925;
}


.active {
    position: relative;
    z-index: 0;
}

.carousel-hidden {
    display: none;
}

/* Profile Page */


#headerPresentation {
    padding: 2rem;
    color: white;
}

#headerPresentation h1 {
    margin-bottom: 2rem;
}

#headerPresentation p {
    letter-spacing: .3px;
    margin-bottom: 1rem;
}

.main-header nav {
    background: #2D2D2D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main-header nav ul {
    list-style-type: none;
}

.main-header nav ul li {
    margin: .5rem 0;
    text-align: center;
    padding-bottom: .3rem;
}

.main-header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
}

#pageWrapper {
    flex-direction: column;
}

#pageWrapper main {
    background: white;
    padding: 2rem;
}

.profileMain h1{
    color: #ff9e00;
}

#pageWrapper h1 {
    display: inline;
}

#pageWrapper h1 {
    font-size: 1.2rem;
}

#pageWrapper h2 {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    margin-bottom: 2rem;
}

#pageWrapper main p {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

#pageWrapper main i {
    float: right;
    font-size: 2rem;
    color: #ff9e00;
}

#pageWrapper main i:hover {
    cursor: pointer;
}

/* Experience Page */
.experienceWrapper main h1{
    color: #1e8bc4;
}

.experienceWrapper main h2 {
    margin-top: 1rem;
}

.experienceContainer {
    border-top: 1px solid #1e8bc4;
    margin-bottom: 2rem;
}

.experienceContainer p:nth-of-type(1) {
    margin-bottom: .5rem !important;
    font-weight: bold !important;
}

.experienceText p {
    margin-top: 1rem;
}

.experienceWrapper i {
    color: #1e8bc4 !important;
}

/* Education Page */
.educationWrapper i {
    color: #f15a49 !important;
}

#skills h1 {
    color: #f15a49;
}

.skillContainer {
    margin-bottom: 2rem;
}

.progress {
    width: 100%;
    height: 1rem;
    border-radius: 10px;
    background: rgba(255, 96, 78, 0.71);
    margin-top: .5rem;
}

.progress-inner {
    width: 80%;
    height: inherit;
    border-radius: 10px;
    background: rgb(248, 93, 75);
    position: relative;
}

.inner-60 {
    width: 60%;
}

.inner-40 {
    width: 40%;
}

/* Porfolio */
.portfolioWrapper i {
    color: #f86925 !important;
}

#portfolioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sample {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    border: 1px solid #f86925;
}

.sample h1 {
    color: #f86925 !important;
    margin: 1rem 0 !important;
}

/* Blog Page */
.post-sample {
    border-bottom: 1px solid #35bc7a;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.post-sample h1 {
    color: #35bc7a !important;
}

.post-sample img {
    margin-bottom: 1rem;
    width: fit-content;
}

.post-sample p {
    margin: 1rem 0;
}

.blogWrapper i {
    color: #35bc7a !important;
}

/* Contact Page */
.contactWrapper i {
    color: #1e8bc4 !important;
}

#contactContainer h1 {
    color: #1e8bc4;
    margin-bottom: 2rem;
}

.contactWrapper input {
    border: 1px solid #1e8bc4;
    height: 1rem;
    padding-right: .5rem;
    margin-bottom: .5rem;
}

/* Media queries */

@media (min-width: 768px) {
    #flex-icons {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-icon-container {
        flex: 1 1 33%;
    }

    #presentation {
        flex: 1 1 66.4%;
        height: 30vh !important;
    }
}


@media (min-width: 1048px) {
    .wrapper {
        flex-direction: row;
        height: 100vh;
        justify-content: center;
        align-items: flex-start;
    }

    #flex-icons {
        flex: 1 1 55%;
        height: 100%;
        align-items: center;
        align-content: center
    }

    .flex-icon-container {
        flex: 1 1 33%;
        height: 33.3%;
    }

    #presentation {
        height: 33.3% !important;
    }

    #slide {
        min-width: 45%;
        height: 100%;
        flex: 1 1 45%;
    }

    #slide-display {
        height: inherit;
    }

    #slide-display img {
        width: 100%;
        height: inherit;
        object-fit: cover;
    }

    #slide i {
        color: white;
        font-size: 3rem;
        opacity: .8;
        z-index: 10;
    }

    #previous {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }

    #next {
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-50%, -50%);
    }

    #previous, #next {
        cursor: pointer;
        transition: color .3s;
    }

    #previous:hover, #next:hover {
        color: #ff9e00;
    }

    /* Indiv pages */
    .main-header {
        display: flex;
        width: 100%;
    }

    #headerPresentation {
        flex: 1 1 45%;
    }

    .main-header nav {
        flex: 1 1 55%;
    }

    .main-header nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 5%;
    }

    .profileMain, #skills {
        width: 75%;
        margin: 5rem auto;
    }

    #portfolioContainer, #blogPostsContainer{
        width: 75%;
        margin: 5rem auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .experienceMain {
        width: 75%;
        margin: 5rem auto;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 3rem auto;
    }
    
    #contactContainer {
        text-align: center;
    }
}

.main-header .nav-yellow {
    color: #ff9e00;
    font-weight: bold;
}

.main-header .nav-blue {
    color: #1e8bc4;
    font-weight: bold;
}

.main-header .nav-red {
    color: #f15a49;
    font-weight: bold;
}

.main-header .nav-orange {
    color: #f86925;
    font-weight: bold;
}

.main-header .nav-green {
    color: #35bc7a;
    font-weight: bold;
}
